{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/partials/header.css' %}">
    
</head>
<body>
        <!-- Top Header -->
    <div class="top-header">
        <div class="container">
            <div class="contact-info">
                <span><i class="fas fa-phone"></i> +91 98765 43210</span>
                <span><i class="fas fa-envelope"></i> info@plasticorp.com</span>
                <span><i class="fas fa-map-marker-alt"></i> Mumbai, India</span>
            </div>
            <div class="live-chat">
                <i class="fas fa-comment"></i> Live Chat
            </div>
        </div>
    </div>
</body>
</html>