/* HERO */
.quality-hero {
    background: url("/static/images/ooo.jpg") no-repeat center;
    background-size: cover;
    height: 200px;
    position: relative;
}

.quality-hero .overlay {
    background: rgba(0,0,0,0.6);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    color: white;
}

.overlay h1 {
    font-size: 40px;
    color: #e53935;
}

.overlay p {
    font-size: 18px;
}


/* MATERIAL SECTION */
.material-section {
    padding: 60px 20px;
}

.material-box {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 60px;
}

/* reverse */
.material-box.reverse {
    flex-direction: row-reverse;
}

/* text */
.material-text {
    width: 50%;
    background:rgb(238, 236, 236);
    padding: 50px;
}
/* text */
.material2-text {
    width: 50%;
    background:rgb(241, 235, 235);
    padding: 50px;
}
.material2-text ul {
    padding-left: 20px;
}

.material2-text li {
    margin-bottom: 15px;
}
/* text */
.material3-text {
    width: 50%;
    background:rgb(235, 232, 232);
    padding: 50px;
}
.material3-text ul {
    padding-left: 20px;
}

.material3-text li {
    margin-bottom: 15px;
}

.material-text h2 {
    margin-bottom: 15px;
}

.material-text ul {
    padding-left: 20px;
}

.material-text li {
    margin-bottom: 10px;
}

/* image */
.material-img {
    width: 30%;
    margin-left: 70px;
}
/* image */
.material2-img {
    width: -30%;
    margin-right: 100px;
}
.material-img img {
    width: 100%;
    border-radius: 10px;
    transition: 0.4s;
}

/* hover */
.material-box:hover img {
    transform: scale(1.05);
}



/* TESTING SECTION */
.testing-section {
    padding: 60px 20px;
    background: #fff;
    text-align: center;
}

/* TITLE */
.testing-title {
    font-size: 30px;
    margin-bottom: 40px;
}

/* GRID */
.testing-grid {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

/* BOX */
.testing-box {
    width: 260px;
    background:#e53935;
    padding: 30px 20px;
    border-radius: 15px;
    transition: 0.4s;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

/* ICON */
.testing-box i {
    font-size: 35px;
    color: #e53935;
    margin-bottom: 15px;
    transition: 0.4s;
}

/* TITLE */
.testing-box h3 {
    margin-bottom: 12px;
    font-size: 20px;
}

/* TEXT */
.testing-box p {
    color: #666;
    line-height: 1.6;
    font-size: 20px;
}

/* 🔥 HOVER */
.testing-box:hover {
    transform: translateY(-10px);
    background:darkblue;
}

/* hover text */
.testing-box:hover h3,
.testing-box:hover p {
    color: white;
}

/* hover icon */
.testing-box:hover i {
    color: yellow;
    transform: rotate(10deg) scale(1.2);
}

/* 📱 MOBILE */
@media (max-width: 768px) {

    .testing-grid {
        flex-direction: column;
        align-items: center;
    }

    .testing-box {
        width: 90%;
    }

    .testing-title {
        font-size: 24px;
    }
}



/* SECTION */
.choose-section {
    padding: 60px 20px;
    background: #f5f5f5;
    text-align: center;
}

/* TITLE */
.choose-title {
    font-size: 30px;
    margin-bottom: 40px;
}

/* GRID */
.choose-grid {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

/* BOX */
.choose-box {
    width: 260px;
    background: white;
    padding: 30px 20px;
    border-radius: 15px;
    transition: 0.4s;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

/* ICON */
.choose-box i {
    font-size: 38px;
    color: #e53935;
    margin-bottom: 15px;
    transition: 0.4s;
}

/* HEADING */
.choose-box h3 {
    margin-bottom: 12px;
    font-size: 20px;
}

/* TEXT */
.choose-box p {
    color: #666;
    line-height: 1.6;
    font-size: 20px;
}

/* 🔥 HOVER EFFECT */
.choose-box:hover {
    transform: translateY(-10px) scale(1.03);
    background: darkcyan;
}

/* hover text */
.choose-box:hover h3,
.choose-box:hover p {
    color: white;
}

/* hover icon */
.choose-box:hover i {
    color: yellow;
    transform: rotate(10deg) scale(1.2);
}

/* 📱 MOBILE */
@media (max-width: 768px) {

    .choose-grid {
        flex-direction: column;
        align-items: center;
    }

    .choose-box {
        width: 90%;
    }

    .choose-title {
        font-size: 24px;
    }
}





/* SECTION */
.standards-section {
    padding: 60px 20px;
    background: white;
    text-align: center;
}

/* TITLE */
.standards-title {
    font-size: 30px;
    margin-bottom: 40px;
}

/* GRID */
.standards-grid {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

/* BOX */
.standards-box {
    width: 260px;
    background: rgb(12, 171, 171);
    padding: 30px 20px;
    border-radius: 15px;
    transition: 0.4s;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

/* ICON */
.standards-box i {
    font-size: 38px;
    color: #e53935;
    margin-bottom: 15px;
    transition: 0.4s;
}

/* HEADING */
.standards-box h3 {
    margin-bottom: 12px;
    font-size: 20px;
}

/* TEXT */
.standards-box p {
    color: #666;
    line-height: 1.6;
    font-size: 20px;
}

/* 🔥 HOVER */
.standards-box:hover {
    transform: translateY(-10px) scale(1.03);
    background:#e53935;
}

/* hover text */
.standards-box:hover h3,
.standards-box:hover p {
    color: white;
}

/* hover icon */
.standards-box:hover i {
    color: yellow;
    transform: rotate(10deg) scale(1.2);
}

/* 📱 MOBILE */
@media (max-width: 768px) {

    .standards-grid {
        flex-direction: column;
        align-items: center;
    }

    .standards-box {
        width: 90%;
    }

    .standards-title {
        font-size: 24px;
    }
}


/* SECTION */
.certificate-section {
    padding: 60px 20px;
    background: #f5f5f5;
    text-align: center;
}

/* TITLE */
.certificate-title {
    font-size: 30px;
    margin-bottom: 40px;
}

/* GRID */
.certificate-grid {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

/* BOX */
.certificate-box {
    width: 260px;
    background: white;
    padding: 30px 20px;
    border-radius: 15px;
    transition: 0.4s;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

/* ICON */
.certificate-box i {
    font-size: 40px;
    color: #e53935;
    margin-bottom: 15px;
    transition: 0.4s;
}

/* HEADING */
.certificate-box h3 {
    margin-bottom: 12px;
    font-size: 20px;
}

/* TEXT */
.certificate-box p {
    color: #666;
    line-height: 1.6;
    font-size: 20px;
}

/* 🔥 HOVER */
.certificate-box:hover {
    transform: translateY(-10px) scale(1.03);
    background:green;
}

/* hover text */
.certificate-box:hover h3,
.certificate-box:hover p {
    color: white;
}

/* hover icon */
.certificate-box:hover i {
    color: yellow;
    transform: rotate(10deg) scale(1.2);
}

/* 📱 MOBILE */
@media (max-width: 768px) {

    .certificate-grid {
        flex-direction: column;
        align-items: center;
    }

    .certificate-box {
        width: 90%;
    }

    .certificate-title {
        font-size: 24px;
    }
}



/* SECTION */
.highlight-section {
    padding: 60px 20px;
    background: linear-gradient(135deg, #f5f5f5, #ffffff);
    text-align: center;
}

/* TITLE */
.highlight-title {
    font-size: 30px;
    margin-bottom: 40px;
}

/* GRID */
.highlight-grid {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

/* GLASS CARD */
.highlight-box {
    width: 260px;
    padding: 30px 20px;
    border-radius: 18px;
    background: rgb(221, 162, 84);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    transition: 0.4s;
    border: 1px solid rgba(255,255,255,0.4);
}

/* ICON */
.highlight-box i {
    font-size: 40px;
    color: #e53935;
    margin-bottom: 15px;
    transition: 0.4s;
}

/* HEADING */
.highlight-box h3 {
    margin-bottom: 12px;
    font-size: 20px;
}

/* TEXT */
.highlight-box p {
    color: #666;
    line-height: 1.6;
    font-size: 20px;
}

/* 🔥 HOVER EFFECT */
.highlight-box:hover {
    transform: translateY(-12px) scale(1.04);
    background: rgb(12, 171, 171)
     
}

/* hover text */
.highlight-box:hover h3,
.highlight-box:hover p {
    color: white;
}

/* hover icon */
.highlight-box:hover i {
    color: yellow;
    transform: rotate(12deg) scale(1.2);
}

/* 📱 MOBILE */
@media (max-width: 768px) {

    .highlight-grid {
        flex-direction: column;
        align-items: center;
    }

    .highlight-box {
        width: 90%;
    }

    .highlight-title {
        font-size: 24px;
    }
}



/* SECTION */
.review-section {
    padding: 60px 20px;
    background: #f5f5f5;
    text-align: center;
}

/* TITLE */
.review-title {
    font-size: 30px;
    margin-bottom: 40px;
}

/* GRID */
.review-grid {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

/* BOX */
.review-box {
    width: 300px;
    background: white;
    padding: 30px 25px;
    border-radius: 15px;
    transition: 0.4s;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

/* STARS */
.stars {
    color: gold;
    font-size: 28px;
    margin-bottom: 15px;
}

/* TEXT */
.review-box p {
    color: #666;
    line-height: 1.7;
    margin-bottom: 20px;
    font-size: 18px;
}

/* NAME */
.review-box h3 {
    margin-bottom: 5px;
    font-size: 20px;
}

/* INDUSTRY */
.review-box span {
    color: #e53935;
    font-size: 20px;
}

/* 🔥 HOVER */
.review-box:hover {
    transform: translateY(-10px) scale(1.03);
     background: rgb(10, 74, 53) 

}

/* hover text */
.review-box:hover p,
.review-box:hover h3,
.review-box:hover span {
    color: white;
}

/* 📱 MOBILE */
@media (max-width: 768px) {

    .review-grid {
        flex-direction: column;
        align-items: center;
    }

    .review-box {
        width: 90%;
    }

    .review-title {
        font-size: 24px;
    }
}


/* FAQ SECTION */
.faq-section {
    padding: 60px 20px;
    background: #f5f5f5;
}

/* TITLE */
.faq-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}

/* CONTAINER */
.faq-container {
    max-width: 800px;
    margin: auto;
}

/* BOX */
.faq-box {
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
}

/* QUESTION */
.faq-question {
    width: 100%;
    background: #e53935;
    color: white;
    padding: 18px 20px;
    border: none;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* HOVER */
.faq-question:hover {
    background: black;
}

/* ANSWER */
.faq-answer {
    max-height: 0;
    overflow: hidden;
    background: white;
    transition: max-height 0.4s ease;
}

/* TEXT */
.faq-answer p {
    padding: 20px;
    color: #555;
    line-height: 1.6;
    font-size: 20px;
}

/* MOBILE */
@media (max-width: 768px) {

    .faq-title {
        font-size: 24px;
    }

    .faq-question {
        font-size: 14px;
    }
}






/* SECTION */
.process-section {
    padding: 60px 20px;
    background: #f5f5f5;
    text-align: center;
}

/* TITLE */
.process-title {
    font-size: 28px;
    margin-bottom: 40px;
}

/* GRID */
.process-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

/* BOX */
.process-box {
    background: #e53935;
    color: white;
    padding: 25px;
    border-radius: 12px;
    width: 250px;
    transition: 0.4s;
    position: relative;
    overflow: hidden;
    align-items: center;
    margin: 10px;
    
    
}

.process-box h3{
    margin-top: 20px;
    font-size: 20px;
}
.process-box p{
    margin-top: 10px;
    font-size: 20px;
}

/* ICON */
.process-box i {
    font-size: 30px;
    margin-top: 70px;
    display: block;
    transition: 0.3s;
}

/* DETAIL (hidden) */
.process-detail {
    opacity: 0;
    transform: translateY(20px);
    font-size: 20px;
    margin-top: 10px;
    line-height: 1.5;
    transition: 0.4s;
}

/* 🔥 HOVER EFFECT */
.process-box:hover {
    transform: translateY(-10px) scale(1.05);
    background: black;
}

/* ICON ANIMATION */
.process-box:hover i {
    transform: rotate(10deg) scale(1.2);
    color: yellow;
}

/* SHOW DETAIL */
.process-box:hover .process-detail {
    opacity: 1;
    transform: translateY(0);
}

/* 📱 MOBILE */
@media (max-width: 768px) {
    .process-grid {
        flex-direction: column;
        align-items: center;
    }
}



/* CTA SECTION */
.cta-section {

    background: url("/static/images/granules.jpeg") no-repeat center;
    background-size: cover;

    position: relative;

    padding: 120px 20px;

    text-align: center;

    overflow: hidden;
    height: 20%;
}

/* DARK OVERLAY */
.cta-section::before {

    content: "";

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.75);

}


/* CONTENT */
.cta-overlay {

    position: relative;

    z-index: 2;

    color: white;
}

/* TITLE */
.cta-overlay h2 {

    font-size: 48px;

    margin-top: -35px;

    animation: fadeDown 1s ease;
}

/* TEXT */
.cta-overlay p {

    font-size: 20px;

    margin-top: -30px;

    color: #ddd;

    animation: fadeUp 1.2s ease;
}

/* BUTTON */
.cta-btn {

    display: inline-block;

    padding: 16px 40px;

    background: #e53935;

    color: white;

    text-decoration: none;

    border-radius: 50px;

    font-size: 18px;

    font-weight: bold;

    transition: 0.4s;

    animation: zoomIn 1.4s ease;
}

/* HOVER */
.cta-btn:hover {

    background: white;

    color: #e53935;

    transform: scale(1.08);

    box-shadow: 0 0 25px rgba(255,255,255,0.6);
}

/* ANIMATIONS */

@keyframes fadeDown {

    from {
        opacity: 0;
        transform: translateY(-40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeUp {

    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {

    from {
        opacity: 0;
        transform: scale(0.7);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
/* 📱 MOBILE */
@media (max-width: 768px){
    /* CTA SECTION */
.cta-section {

    padding: 25px 10px !important;
}

/* TITLE */
.cta-overlay h2 {

    font-size: 26px;

    margin-bottom: 10px;
}

/* TEXT */
.cta-overlay p {

    font-size: 14px;

    margin-bottom: 15px;
}

/* BUTTON */
.cta-btn {

    padding: 10px 22px;

    font-size: 14px;
}
}

